
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color:black;
  }
  
  .navbar {
    background-color:white;
    padding: 10px 0;
  }
  
  .navbar ol {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style-type: none;
  }
  
  .navbar a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
  }
  
  .navbar a:hover {
    color: #3db9d2;
  }
  
  
  img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
    align-items:center;
  }
  
  
  h1, h3, h4 {
    text-align: center;
    color: #444;
    padding: 10px;
    background-color: bisque;
    margin-bottom: 20px;
  }
  
  
  ul.topic-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
    padding: 0 20px;
  }
  
  ul.topic-list li {
    background-color:lightcoral;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  ul.topic-list li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 18px;
  }
  
  ul.topic-list li a:hover {
    color: #8f0a0a;
  }
  
  
  #about {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px;
  }
  
  #about ul {
    list-style-type: none;
  }
  
  #about li {
    padding: 5px 0;
  }
  
  
  #contact {
    text-align: left;
    margin-top: 10px;
    
  
  }
  
  #contact p {
    font-size: 18px;
    
    
  }
  
  
  a {
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    background-color: rgb(89, 176, 208);
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 150px;
    margin: 30px auto;
  }
  
  a:hover {
    background-color:  beige;
  }
  @media screen and (max-width: 768px) {
    .navbar ol {
        flex-direction: column;
        align-items: center;
    }
    .topic-list {
        grid-template-columns: 1fr;
    }
    
  }