h2{
    color: red;
    text-align: center;
}
#one{
    color: brown;
}
.two{
    color: blue;
}
.two{
    color:rgb(255, 0, 123);
}
.two{
    color:rgb(0 ,255, 0, );
}
*{
    color: chocolate;
}
.two:hover{
    color: rgb(0,162,255);
    background-color: blue;
}
a:visited{
    color:aqua;
}
a:link{
    color:rgb(20,135,123);
}
a:hover{
    color:bisque; 
}